<h1>Create new Post</h1>

<%= form_for @post, url: imgboard_posts_path do |form| %>
  <%= form.label :title, "Title: " %>
  <%= form.text_field :title %>
  <%= form.label :body, "Body: " %>
  <%= form.text_field :body %>
  <%= form.file_field :image %>
  <%= form.submit "Create Post" %>
<% end %>
