<!DOCTYPE html>
<html>
  <head>
    <title>Rocket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br />
    <%= button_to "Homepage", root_path, method: :get %>
    <br />
    <%= button_to "Posts", posts_path, method: :get %>
    <br />
    <%= button_to "New Post", new_post_path, method: :get %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
