<!DOCTYPE html>
<html>
  <head>
    <title>Rocket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <% if user_signed_in? %>
      <br />
      <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <%= link_to site_name, root_path, class: "navbar-brand mr-auto" %>
          <div class="navbar-nav mr-auto">
            <%= link_to "Posts", imgboard_posts_path(:imgboard_id => @imgboard.id), class: "nav-link" %>
          </div>
          <div class="navbar-nav mr-auto">
            <%= link_to "New Post", new_imgboard_post_path(:imgboard_id => @imgboard.id), class: "nav-link" %>
          </div>
          <div class="navbar-nav mr-auto">
            <%= link_to "Image Boards", imgboard_path(@imgboard.id), class: "nav-link" %>
          </div>
          <div class="navbar-nav mr-auto">
            <%= link_to "New Image Board", new_imgboard_path, class: "nav-link" %>
          </div>
        </div>
      </div>
      <%= yield %>
    <% end %>
  </body>
</html>
