<!DOCTYPE html>
<html>
  <head>
    <title>Rocket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <% if user_signed_in? %>
      <br />
      <%= button_to "Homepage", root_path, method: :get %>
      <br />
      <%= button_to "Posts", imgboard_posts_path(:imgboard_id => @imgboard.id), method: :get %>
      <br />
      <%= button_to "New Post", new_imgboard_post_path(:imgboard_id => @imgboard.id), method: :get %>
      <br />
      <%= button_to "Image Boards", imgboard_path(@imgboard.id), method: :get %>
      <br />
      <%= button_to "New Image Board", new_imgboard_path, method: :get %>
      <br />
    <% end %>
    <%= yield %>
  </body>
</html>
